$color-pink: rgb(255, 99, 132);
$color-green: rgb(4, 214, 109);
$color-black: #000;
$color-gray-darkest: #262626;
$color-gray-darker: #3f3f3f;
$color-gray-dark: #4c4c4c;
$color-gray: #7f7f7f;
$color-gray-light: #a5a5a5;
$color-gray-lightish: #c1c1c1;
$color-gray-lighter: #ddd;
$color-gray-lightest: #f2f2f2;
$color-white: #fff;

:export {
  colorPink: $color-pink;
  colorGreen: $color-green;
}
