html,
body {
  padding: 0;
  background-color: rgb(250, 250, 250);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @media (prefers-color-scheme: dark) {
    background-color: rgb(20, 20, 20);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root :global {
  --color-pink: rgb(255, 99, 132);
  --color-green: rgb(4, 214, 109);
}
