@import "./colors.module.scss";

.body {
  width: 1200px;
  padding: 3rem;
  background-color: $color-gray-lightest;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
  transition: flex -0.2s ease-in-out;
}

.main {
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 5rem;
}

.titleLink {
  cursor: pointer;
  background-color: $color-gray-lightest;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
  margin-left: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  transition: flex -0.2s ease-in-out;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.graph {
  width: 600px;
  height: 80%;
}

.wrapperContainer {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid $color-gray-darker;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.name {
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 99, 132);
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .body {
    width: 95%;
    padding: 1.5rem;
  }
  .titleLink {
    font-size: 3rem;
  }
}

@media (max-width: 1230px) {
  .body {
    max-width: 800px;
    transition: all 0.2s ease-in-out;
  }
  .grid {
    max-width: 800px;
    transition: all 0.5s ease-in-out;
  }
}
