@import "./colors.module.scss";

.navigation {
  display: flex;
  flex-wrap: wrap;
  height: 67px;
}

.navItem {
  flex: 1 1 auto;
}

.navLink {
  display: block;
  padding-top: 1rem;
  cursor: pointer;
  text-align: center;
}

.navLink:hover {
  color: $color-black;
}

.buttonShift {
  margin-top: 7px;
}

.dropdownMenu {
  max-height: 274px;
  overflow-y: scroll;
  scrollbar-width: none;
}
