@import "./colors.module.scss";

.table {
  width: 100%;
  margin-bottom: 1rem;
}

.tableHeader {
  vertical-align: bottom;
  border-bottom: 5px solid $color-black;
}

.tableRow {
  border: 1px solid $color-black;
  border-radius: 5px;
}

.tableRow:hover {
  background-color: $color-gray-lighter;
}

.th {
  padding: 0.5rem 0.5rem;
  /* background-color: rgba(185, 185, 185, 0.411); */
  border: 1px solid rgba(0, 0, 0, 0.473);
  text-align: center;
  vertical-align: middle;
}
